@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Lucon;
}

@font-face {
    font-family: 'Lucon';
    src: url('./assets/fonts/lucon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
